@layer components {
.container {
  font-family: var(--font-display, var(--font-base));
  color: var(--color-foreground-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: var(--color-background-section);
  border-radius: var(--border-radius-3xl);
  position: relative;
  gap: 10px;
  user-select: none;
  transition: 0.2s;
}

.dragging {
  opacity: 0.8;
  border-radius: var(--border-radius-3xl) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

.before {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.after {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  input {
    text-align: right;
  }
}

.chevron {
  width: 7px;
  max-width: 7px;
  min-width: 7px;
  height: 12px;
  max-height: 12px;
  min-height: 12px;

  svg {
    width: 100%;
    path {
      stroke: var(--color-foreground-tertiary);
    }
  }
}

.dragIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  touch-action: none;
}

.dragIcon::before,
.dragIcon::after,
.dragIcon span {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5px;
  background: var(--color-foreground-secondary);
  border-radius: 20px;
}

.dragIcon::before {
  top: 3px;
}

.dragIcon span {
  top: 7px;
  position: absolute;
}

.dragIcon::after {
  top: 11px;
}

.bottomBorder {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  height: 0.3px;
  background-color: var(--color-border-separator);
  z-index: 5;
}

.disabled {
  opacity: 0.5;
  cursor: default !important;
  pointer-events: none;

  * {
    cursor: default !important;
    pointer-events: none;
  }
}

.clickable {
  cursor: pointer;
}

}
