@layer components {
.select {
  font-family: var(--font-display, var(--font-base));
  color: var(--color-foreground-primary);
  position: relative;
  cursor: pointer;
  user-select: none;
}

.selectContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

}
